<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Gestione Film
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
<link rel="stylesheet" href="../lib/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<i class="material-icons">person</i>
			<a style="color:black" href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a style="color:black" href="/login">Login</a>
		</div>
		<div><a style="color:black" href="/"><i class="material-icons">home</i></a></div>
	</header>
	
	<div class="login-box">
	<h1>Gestione Film</h1>
	<div>
		<a href="/admin/formNewMovie"><h2 style="color:wheat; text-align:start">Inserisci i dati di un film</h2></a>
	</div>
	<div>
		<a href="/admin/manageMovies"><h2 style="color:wheat; text-align:start">Gestisci i film</h2></a>
	</div>
	<div>
		<a href="/formSearchMovies"><h2 style="color:wheat; text-align:start">Cerca film per anno</h2></a>
	</div>
	</div>
</body>

</html>