<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" href="/css/stile.css" />
<link rel="stylesheet" href="../lib/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<i class="material-icons">person</i>
			<a style="color:black" href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a style="color:black" href="/login">Login</a>
		</div>
		<div><a style="color:black" href="/"><i class="material-icons">home</i></a></div>
	</header>

	<div class="login-box">
	<h2>Artisti</h2>
	<div th:if="${artists==null || artists.isEmpty()}">Non ci sono artisti nel sistema</div>
	<ul style="height: 80%; overflow-y: scroll;">
		<li th:each="artist : ${artists}">
			<a th:href="@{'/artist' + '/' + ${artist.id}}"
				th:text="${artist.name} + ' ' + ${artist.surname}">Dino Risi</a>
		</li>
	</ul>
	</div>
</body>

</html>