<!DOCTYPE html>
<html>

<head>
	<title>SiwMovie - Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/stile.css" />
<link rel="stylesheet" href="../lib/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<i class="material-icons">person</i>
			<a style="color:black" href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a style="color:black" href="/login">Login</a>
		</div>
		<div><a style="color:black" href="/"><i class="material-icons">home</i></a></div>
	</header>

	<div class="login-box">
	<h1>Congratulazioni ti sei registrato!</h1>
	<div>
		<h2 style="color:gold;">Nome: </h2>
		<h3 th:text="${user.name}"></h3>
	</div>
	<div>
		<h2 style="color:gold;">Cognome: </span>
		<h3 th:text="${user.surname}"></h3>
	</div>
	<div>
		<h2 style="color:gold;">Email: </span>
		<h3 th:text="${user.email}"></h3>
	</div>
	></div>
</body>
</html>